<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar  navbar-inverse">
      <div class="container">
        <nav class="nav navbar-nav navbar-left ">
          <span>Bookers</span>
        </nav>
         <nav>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
           <%= link_to " Home",user_path(current_user.id),class: "glyphicon glyphicon-home home" %>
           <%= link_to"Users","/users", class: "glyphicon glyphicon-user users" %>
           <%=link_to "Books","/books",class: "glyphicon glyphicon-book books" %>
           <%= link_to "  logout",destroy_user_session_path,method: :delete,class: "glyphicon glyphicon-log-out logout logout" %>
            <% else %>
           <%= link_to " Home",new_user_path,class: "glyphicon glyphicon-home home" %>
           <%= link_to "  About",user_about_path,class: "glyphicon glyphicon-link about about" %>
           <%= link_to "  Sign Up","/users/sign_up",class: "glyphicon glyphicon-edit sign_up" %>
           <%= link_to "  Login","/users/sign_in",class: "glyphicon glyphicon-log-in sign_in" %>
            <% end %>
          </ul>
        </nav>

      </div>
    </header>
    <%= yield %>
  </body>
</html>
